flask==3.1.0
flask-sqlalchemy==3.1.1
flask-login==0.6.3
flask-bcrypt==1.0.1
flask-wtf==1.2.1
flask-cors==4.0.0
cryptography==43.0.0
flake8==7.1.0
watchdog==4.0.0
py7zr==0.21.0
pillow==11.0.0
python-magic==0.4.27
aiofiles==24.1.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1