.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 0;
  z-index: 1000;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  padding: 5px 10px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #eee;
}
